@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');



body{
    font-family: "Spline Sans", sans serif;
    color: #7777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;
}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    color: #F58d17;
}

img {
    width: 25%; 
    height: auto; 
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover{
    transition: all 0.2s;
}

.shadow-on-hover:hover{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
/* btn */

.btn{
    border: 0;
    padding: 14px 38px;
}

.btn-brand {
    background-color: #fce4ec;
    font-weight: 500;
    border-color: #d81b60; 
    color: #d81b60; 
}
.btn-brand:hover{
    border-color: #d81b6090; 
    color: #d81b60; 
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/*Slider*/
.slide-1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)), url(images/slider-1.jpg);
}
.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)), url(images/slider-2.jpg);
}

.with-underline {
    text-decoration: underline;
    text-decoration-color: white;
}
/* about */

#about img {
    width: 100%; 
    height: auto; 
}

#about .divider{
    width: 60px;
    height: 2px;
    display: block;
    background-color: #d81b60;

}

/* intro */

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}
.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Menu */
#menu .nav-pills .nav-link{
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
#menu .nav-pills .nav-link.active {
    background-color: #d81b60;
    color: #fff;
}

.enlarge-image {
    width: 80%; 
    height: auto; 
}

.menu-item .stars {
    color: #F58d17;

}
/* Features */
#features{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)), url(images/slider-1.jpg);
}
.feature {
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: #d81b60;
    color: #fff;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}
.mb-custom {
    margin-bottom: 2rem;
}

